<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <springProperty scope="context" name="applicationName" source="spring.application.name" defaultValue="device-api"/>

  <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp>
          <fieldName>timestamp</fieldName>
        </timestamp>
        <logLevel>
          <fieldName>level</fieldName>
        </logLevel>
        <loggerName>
          <fieldName>logger</fieldName>
        </loggerName>
        <threadName>
          <fieldName>thread</fieldName>
        </threadName>
        <message>
          <fieldName>message</fieldName>
        </message>
        <mdc/>
        <pattern>
          <pattern>{"service":"${applicationName}"}</pattern>
        </pattern>
        <stackTrace>
          <fieldName>stackTrace</fieldName>
        </stackTrace>
      </providers>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="JSON_CONSOLE"/>
  </root>

  <logger name="com.devicemanagement.deviceapi" level="DEBUG"/>
</configuration>
